@import url("https://www.w3schools.com/w3css/4/w3.css");

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"),
    url("./assets/fonts/Segoe-UI.ttf") format("ttf");
  font-display: swap;
}